<div class="container">
    <p>Picture: <%= @post.image %> </p>
    <h3><%= @post.title %></h3>
     <%= @post.body %>
    <br><br>
    Picture Icon of <a href="/user/<%= @user.id %>"><%= @user.username %></a>

<br><br>

<div class="container">
  <% @user.comments.each do |comment| %>
  post id : <% @post = Post.find(comment.post_id) %><br><% @post %>
  comment user : <% post = Post.find(comment.user_id) %><br>
  <br>
  <%= comment.content %>
    <br><br>
  <% end %>
</div>
</div>

